# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/

# Node/Frontend
node_modules/
dist/
.next/
npm-debug.log
package-lock.json

# Database
*.db
*.sqlite

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Otros
.env
.DS_Store
*.log
.query
